{:profiles {:Default {:default true
                      :sim     200
                      :delay   500
                      :alone   1000
                      :held    500}}
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""
             :open-a "open -a '%s'"}
 :simlayers {:caps_lock-mode {:key :caps_lock}}
 :main [{:des "launch apps using right_shift + key"
         :rules [[:!Rq [:open-a "Activity Monitor"]]
                 [:!Rb [:open-a "Bear"]]
                 [:!Rc [:open-a "Calendar"]]
                 [:!Ro [:open-a "Day One"]]
                 [:!Rh [:open-a "DEVONthink 3"]]
                 [:!Rf [:open-a "Finder"]]
                 [:!Rt [:open-a "kitty"]]
                 [:!Rm [:open-a "Mail"]]
                 [:!Ri [:open-a "Music"]]
                 [:!Rs [:open-a "Safari"]]
                 [:!Rj [:open-a "Telegram"]]
                 [:!Rr [:open-a "Things3"]]
        {:des "launch apps using fn + key"
         :rules [[:!Fb [:open-a "Books"]]
                 [:!Fi [:open-a "IINA"]]]}
        {:des "key-mode: caps_lock"
         :rules [:caps_lock-mode
                 [:grave_accent_and_tilde [:open "$HOME"]]
                 [:t [:open "$HOME/.Trash"]]
                 [:d [:open "$HOME/Downloads"]]
                 [:m [:open "$HOME/Movies"]]]}]}
